{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Library Books</h2>

    <form action="" method="get" class="search-form">
        <input type="text" name="q" value="{{ query }}" placeholder="Search books by title, author, or ISBN...">
        <button type="submit">Search</button>
    </form>

    {% if books %}
        <div class="book-list-container">
            {% for book in books %}
                <div class="book-card">
                    <h3><a href="{% url 'book_detail' book.id %}">{{ book.title }}</a></h3>
                    <p>by {{ book.authors}}</p>
                    <div class="book-actions">
                        <form action="{% url 'save_book' book.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit">Checkout</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No books found or service unavailable. Please try again later.</p>
    {% endif %}

    <h3>My Saved Books:</h3>
    <div class="book-list-container">
        {% for user_book in user_books %}
            <div class="book-card">
                <h3><a href="{% url 'book_detail' user_book.pk %}">{{ user_book.book_title }}</a></h3>
                <p>by {{ user_book.authors }}</p>
                <div class="book-actions">
                    <form action="{% url 'delete_book' user_book.pk %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Return</button>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
