{% extends 'base.html' %}

{% block title %}{{ user.username }}'s Profile{% endblock %}

{% block content %}
    <h2>{{ user.username }}'s Profile</h2>
    <p>Address: {{ profile.address }}</p>
    <p>Phone Number: {{ profile.phone_number }}</p>

    <h3>Borrowing History:</h3>
    <ul>
        {% for transaction in borrowing_history %}
            <li>
                {{ transaction.transaction_type }}: {{ transaction.book.title }} on {{ transaction.date }}
            </li>
        {% endfor %}
    </ul>

    <a href="{% url 'edit_profile' %}">Edit Profile</a>
{% endblock %}
