<!DOCTYPE html>
<html>
<head>
    <title>{{ book.title }}</title>
</head>
<body>
    <h2>{{ book.title }}</h2>
    <p>Author(s): {{ book.author|join:', ' }}</p>
    <p>ISBN: {{ book.isbn }}</p>
    <p>Publication Year: {{ book.publishedDate }}</p>
    <p>Description: {{ book.description }}</p>
    <p>Status: {{ book.availability_status }}</p>

    <form action="{% url 'checkout_book' book.pk %}" method="post">
        {% csrf_token %}
        <button type="submit">Checkout</button>
    </form>

    <form action="{% url 'return_book' book.pk %}" method="post">
        {% csrf_token %}
        <button type="submit">Return</button>
    </form>

    <a href="{% url 'book_list' %}">Back to Book List</a>
</body>
</html>

